.array-container{
    display: flex;
    margin: 5px 5px;
}

.array-bar{
    display: flex;
    width: 2px;
    color: blue;
    background-color: black;
    margin: 5px 5px;
    padding: 1px;
    justify-content: space-evenly;
}